rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.token.email.matches("mtgons5.ea@gmail.com");
    }

    match /{document=**} {
    	allow read, write: if request.auth != null;
      // allow read, write: if true;
          // request.time < timestamp.date(2022, 10, 14);
    }
  }
}